VITE_VEX_NATIVE_RPC=https://api.windcrypto.com
VITE_VEX_EVM_RPC=https://api.windcrypto.com/rpc
VITE_VEX_EVM_CHAIN_ID=6736
VITE_WISP_API_URL=https://api.windcrypto.com/wisp/v1
VITE_WALLETCONNECT_PROJECT_ID=
